<settings>
    <proxies>
         <proxy>
             <id>main-proxy</id>
             <active>true</active>
             <protocol>http</protocol>
             <host>proxy_host</host>
             <port>proxy_port</port>
             <nonProxyHosts>localhost|10.0.2.15</nonProxyHosts>
         </proxy>
    </proxies>
</settings>
